@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Tajawal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Tajawal&display=swap');
:root{
  --color:rgb(81,33,102);
  --color1:#2596be;
  --color1-2:#126b8b;
  --color-2:#ef4444;
  --color3:#f97316;
  --color4:#22c55e;
  --color5:#06b6d4;
  --color6:#8b5cf6;
  --fontEN: 'Inter', sans-serif;
  --fontAr: 'Tajawal', sans-serif;
  --bg-about:linear-gradient(101.63deg, #04a29f -21.52%, #2036a1 55.18%, #382aa4 93.18%);
  
}
*{
    padding: 0;
    margin: 0;
}
html, body{
font-family: var(--fontAr);
}
nav {
    font-family: var(--fontEN);
    background: var(--color);
    color: white;
}
.containeraa{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
}
.ele-con1{
    padding: 5px;
    border: 2px solid var(--color1);
    border-radius: 50%;
    margin-right: 5px;
}
.ele-con2{
    line-height: 0.7;
}
.ele-con2 h3,.ele-con2 h4{
    line-height: 0.7;
}
h4 {
    font-family: 'Dancing Script', cursive;
    color: var(--color1);
    font-weight: 800;
}
.covereele{
    margin-top: 20px;
    text-align: center;
    line-height: 3;
    
    border-radius: 5px;
    box-shadow: 0 5px 10px 6px rgba(0, 0, 0, 0.12);
}
.cover-button{
    background-color:var(--color1);

}
.cover-button:hover{
    background-color:var(--color1-2);
    border: 0px;
}
.alert{
    background-color: var(--color-2);
    border-color: #fd0000;
    color:white;

}
.formats{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}
.format{
    padding: 10px;
}
.format button{
    background: var(--color-2);
    border-color :transparent;
    padding: 10px;
    border-radius: 6px;
}
.color4{
    background-color: var(--color4);
}
.color5{
    background-color: var(--color5);
}

.inb2{
padding: 0 5px;
}
.inbutton{
    display: flex;
    justify-content: space-around;
}


.about{
    background: var(--bg-about);
    padding: 20px;
    color: white;
    font-size: 22px;
    margin: 10%;
    border-radius: 15px;
    box-shadow: 1px 1px 6px 2px var(--bs-gray-400);
}
.avantages{
    display: flex;
    flex-wrap:nowrap ;
    margin: 10%;
}
@media only screen and (max-width: 900px) {
    .avantages {
        flex-wrap: wrap;
    }
  }

.avantage{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 1px 1px 1px solid;
    box-shadow: 0px 0px 4px 0px #8b5cf68c;
    margin: 5px;
    border-radius: 15px;

}

.icon-avantage{

}
.ele-avatage{

}
.material-symbols-outlined{
    font-size: 60px;
    padding-left: 15px;
}


.how {
    background: linear-gradient(101.63deg, #079794 -21.52%, #6c1b6b 55.18%, #4b0f4a 93.18%);
    margin: 1.5%;
    border-radius: 10px;
    color: white;
    padding: 30px;
    text-align: center!important;
}
.elehow{
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.NNhow{

}

.accordion{
    color:white !important;
    margin: 2%;
    --bs-accordion-active-bg: var(--color);
    --bs-accordion-btn-color: black;
    --bs-accordion-active-color:white;
    --bs-accordion-btn-focus-box-shadow:;
   }





footer{
    background: #0f172a;
    color:#94a3b8;
    padding: 20px 0 ;
}


.dow-vi{
    position: fixed;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    
}
 .towdiv{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background: linear-gradient(101.63deg, #04a29f3d -21.52%, #2036a100 55.18%, rgb(81 33 102 / 24%) 93.18%);


 }
 .onediv{
    height: 80%;
    width: 80%;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 2px var(--bs-gray-200);



 }

.dow-vi iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.b-iframe{
    
}


