  <div dir="rtl" lang="ar"> 
    <div class="about text-center "  >
        من خلال موقعنا Downlvidoe.xyz يمكنك الأن تحميل او تنزيل مقاطع الفيديو من منصة الفيسبوك Facebook بجودة عالية 1080p, 2k, 4k , كما يمكنك تحميل الأغاني mp3, m4a من على فيسبوك Facebook
    </div>
    <div class="avantages">
        <div class="avantage">
        <div class="icon-avantage">
            <span class="material-symbols-outlined" style="color:var(--color4)">
                monetization_on
                </span>

        </div>
        <div class="ele-avatage">
            <h3 style="color:var(--color4)">بدون مقابل</h3>
            <p>موقعنا مجاني بالكامل ويمكنك الإستفادة من جميع المزايا مجانا</p>
        </div>
        </div>
        <div class="avantage">
            <div class="icon-avantage" >
                <span class="material-symbols-outlined" style="color:var(--color6)">
                    speed
                    </span>
            </div>
            <div class="ele-avatage">
            <h3 style="color:var(--color6)">سرعة تحميل</h3>
            <p>نضمن لك تحميل الفيديوهات بسرعة وذالك بفضل سيرفرات السريعة و القوية</p>
            </div>
        </div>

        <div class="avantage">
            <div class="icon-avantage">
                <span class="material-symbols-outlined" style="color:var(--color-2)">
                    verified_user
                    </span>
            </div>
            <div class="ele-avatage">
            <h3 style="color:var(--color-2)">الأمان</h3>
            <p>نساعدك على تحميل فيديوهات خالية من الفيروسات</p>
            </div>
        </div>
        
    </div>
    <div class="how">
        <h3 style="    margin-bottom: 30px; ">
            كيفية تنزيل فيديو الفيسبوك؟

        </h3>
        <div class="elehow">
            <div class="NNhow">1-</div>
            <p>الصق عنوان  لفيديو الذي تريد تنزيله في مربع البحث</p>
        </div>
        <div class="elehow">
            <div class="NNhow">2-</div>
            <p>حدد تنسيق الملف والجودة التي تريدها واضغط على الزر تنزيل</p>
        </div>
        <div class="elehow">
            <div class="NNhow">3-</div>
            <p>	انتظر بضع ثوانٍ حتى تكتمل المعالجة وتنزيلها على جهازك</p>
        </div>

    </div>




    <div class="f-q">
        <h1 class="text-center">أسئلة مكررة</h1>

    </div>
    <div class="accordion " id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapseThree">
                ما هو الجديد في Downlvidoe.xyz
            </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                يعتبر موقعنا سهل الإستخدام وبدون إعلانات مزعجة عكس باقي الواقع الأخرى
              </div>
            </div>
          </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapseThree">
                كم مرة يمكنني إستخدام الوقع
            </button>
            </h2>
            <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                نحن لا نفرض أيت قيود علا مستعملين الموقع
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapseThree">
                ما هي الجودات المتوفرة
            </button>
            </h2>
            <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                تستطيع تحميل الفيديوهات بجميع الجودات التي توفرها فيسبوك Facebook تصل إلى 1040p, 720p, 2k ,4k
              </div>
            </div>
          </div>
    </div>


</div>